# Allow the folders themselves
zed/
yarn/
avante.nvim/
cava/
configstore/
containers/
fastfetch/
filezilla/
gcloud/
gh/
github-copilot/
gitui/
grammarly-languageserver/
htop/
iterm2/
jgit/
menus/
mole/
neofetch/
raycast/
yarn/
zed/
